/local-conf.mk

*.pyc
/*/pyvenv.cfg
/*/bin
/*/include
/*/lib
/*/local
/*/share
/*/.cache
/*/lib64
/*/dist
/*/*.egg-info/
/*/pip-selfcheck.json

*.mktmp
!/client/lib
/client/coverage
/client/doc
/client/node_modules/
/client/www/coverage/
/client/www/carousel-images
/client/www/css/lib
/client/www/css/*.min.css
/client/www/css/*.min.r*.css
/client/www/css/*.min.css.map
/client/www/css/chosen-sprite*.png
/client/www/css/flags*.png
/client/www/html/*.min.html
/client/www/html/*.min.r*.html
/client/www/js/*.min.js
/client/www/js/*.min.r*.js
/client/www/js/*.min.js.map
/client/www/js/lib
/client/www/js/lib-ace
/client/www/js/node_modules
/client/www/*.html
/uwsgi_cache

/server/appconfig.py
/server/clic/appconfig.py
/server/.coverage
/server/htmlcov/

/schema/bin

# Old files that shouldn't exist
/.local-conf
/clic.bundle
/clic_revision
/server/clic-chapter-cache.pickle
/server/booklist.json

/corpora/
/clic.dump

/docs/module/
/docs/_build/

/goaccess_www/
GeoLite2-*

/flexiclic/build-workdir
/flexiclic/www
/flexiclic/flexiconc
/flexiclic/spacy-pyodide/
/flexiclic/tests/*.baseline.new
