/local-conf.mk

*.mktmp
/client/coverage
/client/doc
/client/node_modules/
/client/www/coverage/
/client/www/carousel-images
/client/www/css/lib
/client/www/css/*.min.css
/client/www/css/*.min.r*.css
/client/www/css/*.min.css.map
/client/www/css/chosen-sprite*.png
/client/www/css/flags*.png
/client/www/html/*.min.html
/client/www/html/*.min.r*.html
/client/www/js/*.min.js
/client/www/js/*.min.r*.js
/client/www/js/*.min.js.map
/client/www/js/lib
/client/www/js/lib-ace
/client/www/js/node_modules
/client/www/*.html
/uwsgi_cache

*.pyc
/server/clic.egg-info/
/server/pip-selfcheck.json
/server/bin
/server/include
/server/lib
/server/local
/server/share
/server/.cache
/server/lib64
/server/pyvenv.cfg
/server/appconfig.py
/server/.coverage
/server/htmlcov/

/schema/bin

# Old files that shouldn't exist
/.local-conf
/clic.bundle
/clic_revision
/server/clic-chapter-cache.pickle
/server/booklist.json

/corpora/
/clic.dump

/docs/module/
/docs/_build/
/docs/bin/
/docs/lib/
/docs/lib64
/docs/pyvenv.cfg
/docs/share/
