*.mktmp
/client/coverage
/client/doc
/client/node_modules/
/client/www/css/*.min.css
/client/www/css/chosen-sprite*.png
/client/www/css/flags*.png
/client/www/html/*.min.html
/client/www/js/*.min.js
/client/www/js/*.min.js.map
/client/www/js/lib
/client/www/js/lib-ace
/client/www/js/node_modules
