#content table.dataTable>tbody>tr.kwic-highlight-2>td { background: #e6f5c9; }
#content table.dataTable>tbody>tr.kwic-highlight-3>td { background: #b3e2cd; }
#content table.dataTable>tbody>tr.kwic-highlight-4>td { background: #cbd5e8; }
#content table.dataTable>tbody>tr.kwic-highlight-1>td { background: #f4cae4; }

#content table.dataTable tr.match-l1 > td.contextLeft .node-1,
#content table.dataTable tr.match-l2 > td.contextLeft .node-2,
#content table.dataTable tr.match-l3 > td.contextLeft .node-3,
#content table.dataTable tr.match-l4 > td.contextLeft .node-4,
#content table.dataTable tr.match-l5 > td.contextLeft .node-5,
#content table.dataTable tr.match-r1 > td.contextRight .node-1,
#content table.dataTable tr.match-r2 > td.contextRight .node-2,
#content table.dataTable tr.match-r3 > td.contextRight .node-3,
#content table.dataTable tr.match-r4 > td.contextRight .node-4,
#content table.dataTable tr.match-r5 > td.contextRight .node-5 {
    background: rgba(255, 59, 0, 0.45);
}
