html {
    font-size: 80%;
}

#scrollable-body {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    min-height: 100%;
    overflow-y: scroll;
    margin-right: 0;
    transition: margin-right 0.3s ease;
}
@keyframes spinner { to {transform: rotate(360deg);} }
body.loading #scrollable-body {
    opacity: .6;
}
body.loading #scrollable-body:after {
  content: '';
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  margin-top: -10vw;
  margin-left: -10vw;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
@media (min-width: 768px) {
  body.loading #scrollable-body:after {
      margin-left: -20rem;
  }
}

@media (min-width: 960px) {
    #control-bar.in ~ #scrollable-body {
        margin-right: 25rem;
    }
}

header {
    padding: 15px 25px 10px 15px;
    border-bottom: 5px solid #1e345e;
    overflow: hidden;
}
header h1 {
    float: left;
    margin: 0;
    line-height: 40px;
    font-size: 41px;
    font-weight: normal;
}
header .sponsors {
    float: right;
}

#alerts {
    transform: scaleY(0);
    transform-origin: top;
}
#alerts:not(:empty) {
    transition: transform ease-in 0.1s;
    transform: scaleY(1);
}
#alerts > * {
    padding: 10px;
    font-weight: bold;
}
#alerts > .level-error { background: orangered; }
#alerts > .level-warn { background: #f0ad4e; }
#alerts > .level-info { background: #5bc0de; }
#alerts pre { font-size: xx-small; }
#alerts pre:empty { display: none; }
