html {
    font-size: 80%;
}

#scrollable-body {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    min-height: 100%;
    overflow-y: scroll;
    margin-right: 0;
    transition: margin-right 0.3s ease;
}

@media (min-width: 960px) {
    #control-bar.in + #scrollable-body {
        margin-right: 25rem;
    }
}

header {
    padding: 20px 10px 10px 20px;
    border-bottom: 1px solid black;
    overflow: hidden;
    background-image: linear-gradient(to left top, #D6E1E8 35%, #7F9AA5 100%);
}
header h1 {
    float: left;
    margin: 0;
    line-height: 35px;
    font-size: 41px;
    font-weight: bold;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d6e1e8;
}
header .sponsors {
    float: right;
}

#alerts {
    transform: scaleY(0);
    transform-origin: top;
}
#alerts:not(:empty) {
    transition: transform ease-in 0.1s;
    transform: scaleY(1);
}
#alerts > * {
    padding: 10px;
    font-weight: bold;
}
#alerts > .level-error { background: orangered; }
#alerts > .level-warn { background: #f0ad4e; }
#alerts > .level-info { background: #5bc0de; }
#alerts pre { font-size: xx-small; }
#alerts pre:empty { display: none; }
