#content .dataTables_info {
    padding: 5px 1em;
}
#content table.dataTable th {
    padding-top: 2em;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background: #eee;
    text-align: center;
}
#content table.dataTable td {
    border-bottom: 1px solid #ddd;
}
#content table.dataTable>tbody>tr:last-child>td {
    border-bottom: none;
}

#content table.dataTable tr>*:first-child {
    padding-left: 1em;
}
#content table.dataTable tr>*:last-child {
    padding-right: 1em;
}

#content table.dataTable>tbody>tr {
    cursor: pointer;
}
#content table.dataTable>tbody>tr.odd { background: #f9f9f9; }
#content table.dataTable>tbody>tr.kwic-highlight-2 { background: #e6f5c9; }
#content table.dataTable>tbody>tr.kwic-highlight-3 { background: #b3e2cd; }
#content table.dataTable>tbody>tr.kwic-highlight-4 { background: #cbd5e8; }
#content table.dataTable>tbody>tr.kwic-highlight-1 { background: #f4cae4; }
#content table.dataTable>tbody>tr.selected {
    background: repeating-linear-gradient(
        -45deg,
        rgba(240, 220,  78, 0.4),
        rgba(240, 220,  78, 0.4) 10px,
        rgba(240, 220,  78, 0.3) 10px,
        rgba(240, 220,  78, 0.3) 20px
    );
}
#content table.dataTable>tbody>tr:hover {
    background: rgba(70, 74, 76, 0.3);
}
#content table.dataTable>tbody>tr.selected:hover {
    background: repeating-linear-gradient(
        -45deg,
        rgba(70, 74, 76, 0.4),
        rgba(70, 74, 76, 0.4) 10px,
        rgba(70, 74, 76, 0.3) 10px,
        rgba(70, 74, 76, 0.3) 20px
    );
}

#content table.dataTable.hasTagColumns th {
    padding-top: 10em;
    overflow: hidden;
}
#content table.dataTable th.tagColumn {
    position: relative;
}
#content table.dataTable th.tagColumn>* {
    position: absolute;
    right: 75%;
    bottom: 4px;
    max-width: 9em;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
    white-space: nowrap;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  top: 3px;
  right: 3px;
  display: block;
  opacity: 0.8;
  font-size: 1.5rem;
}
#content table.dataTable thead .sorting:hover,
#content table.dataTable thead .sorting_asc:hover,
#content table.dataTable thead .sorting_desc:hover,
#content table.dataTable thead .sorting_asc_disabled:hover,
#content table.dataTable thead .sorting_desc_disabled:hover {
    background: #ccc;
}
table.dataTable thead .sorting:after {
  opacity: 0.4;
  content: "⇅";
  font-weight: normal
  /* sort */
}
table.dataTable thead .sorting_asc:after {
  content: "⇊";
  font-weight: bold;
  /* sort-by-attributes */
}
table.dataTable thead .sorting_desc:after {
  content: "⇈";
  font-weight: bold;
  /* sort-by-attributes-alt */
}
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #eee;
}

#content table.dataTable.metadata-hidden .metadataColumn {
    display: none;
}

#content table.dataTable td span.w {
    background: rgba(200, 200, 200, 0.33);
    padding: 0 1px;
}
#content table.dataTable tr.match-l1 > td.contextLeft .node-1,
#content table.dataTable tr.match-l2 > td.contextLeft .node-2,
#content table.dataTable tr.match-l3 > td.contextLeft .node-3,
#content table.dataTable tr.match-l4 > td.contextLeft .node-4,
#content table.dataTable tr.match-l5 > td.contextLeft .node-5,
#content table.dataTable tr.match-r1 > td.contextRight .node-1,
#content table.dataTable tr.match-r2 > td.contextRight .node-2,
#content table.dataTable tr.match-r3 > td.contextRight .node-3,
#content table.dataTable tr.match-r4 > td.contextRight .node-4,
#content table.dataTable tr.match-r5 > td.contextRight .node-5 {
    background: rgba(255, 59, 0, 0.45);
}

#content table.dataTable td.contextLeft {
    text-align: right;
}
#content table.dataTable td.contextNode {
    padding-left: 2rem;
    text-indent: -1rem;
}
#content table.dataTable td.contextRight {
    padding-left: 1rem;
    text-indent: -1rem;
}
#content table.dataTable td.tagColumn {
    text-align: center;
    font-size: 1.5rem;
}

#content .dataTables_paginate {
    display: flex;
    text-align: center;
    border-top: 1px solid #666;
}
#content .dataTables_paginate>span {
    display: flex;
    flex: 1 0 auto;
}
#content .dataTables_paginate>span>.ellipsis {
    flex: 1 0 auto;
}
#content .dataTables_paginate>span>.ellipsis,
#content .dataTables_paginate a {
    padding: 1em;
    border-right: 1px solid #666;
    background: #eee;
    cursor: pointer;
}
#content .dataTables_paginate>span>a:last-child {
    border-right: none;
}
#content .dataTables_paginate>a:last-child {
    border-left: 1px solid #666;
    border-right: none;
}
