#content table.dataTable>tbody>tr {
    cursor: pointer;
}
#content table.dataTable>tbody>tr.kwic-highlight-2 { background: #e6f5c9; }
#content table.dataTable>tbody>tr.kwic-highlight-3 { background: #b3e2cd; }
#content table.dataTable>tbody>tr.kwic-highlight-4 { background: #cbd5e8; }
#content table.dataTable>tbody>tr.kwic-highlight-1 { background: #f4cae4; }
#content table.dataTable>tbody>tr.selected {
    background: repeating-linear-gradient(
        -45deg,
        rgba(240, 220,  78, 0.4),
        rgba(240, 220,  78, 0.4) 10px,
        rgba(240, 220,  78, 0.3) 10px,
        rgba(240, 220,  78, 0.3) 20px
    );
}
#content table.dataTable>tbody>tr:hover {
    background: rgba(70, 74, 76, 0.3);
}
#content table.dataTable>tbody>tr.selected:hover {
    background: repeating-linear-gradient(
        -45deg,
        rgba(70, 74, 76, 0.4),
        rgba(70, 74, 76, 0.4) 10px,
        rgba(70, 74, 76, 0.3) 10px,
        rgba(70, 74, 76, 0.3) 20px
    );
}

#content table.dataTable td span.w {
    background: rgba(200, 200, 200, 0.33);
    padding: 0 1px;
}
#content table.dataTable tr.match-l1 > td.contextLeft .node-1,
#content table.dataTable tr.match-l2 > td.contextLeft .node-2,
#content table.dataTable tr.match-l3 > td.contextLeft .node-3,
#content table.dataTable tr.match-l4 > td.contextLeft .node-4,
#content table.dataTable tr.match-l5 > td.contextLeft .node-5,
#content table.dataTable tr.match-r1 > td.contextRight .node-1,
#content table.dataTable tr.match-r2 > td.contextRight .node-2,
#content table.dataTable tr.match-r3 > td.contextRight .node-3,
#content table.dataTable tr.match-r4 > td.contextRight .node-4,
#content table.dataTable tr.match-r5 > td.contextRight .node-5 {
    background: rgba(255, 59, 0, 0.45);
}

#content table.dataTable th.tagColumn {
    transform: rotate(90deg);
}
#content table.dataTable td.tagColumn {
    text-align: center;
    font-size: 1.5rem;
}

#content table.dataTable.metadata-hidden .metadataColumn {
    display: none;
}
