anytree==2.12.1
asn1crypto==1.5.1
attrs==25.1.0
build==1.2.2
certifi==2025.1.31
charset-normalizer==3.4.1
coverage==7.6.12
# Editable Git install (FlexiConc==0.1.1.dev13) with either a deleted local remote or invalid URI:
# 'git@github.com:/fau-klue/flexiconc'
-e /srv/clic/flexiclic/flexiconc
idna==3.10
iniconfig==2.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
networkx==3.4.2
numpy==2.2.2
packaging==24.2
pandas==2.2.3
pg8000==1.31.2
platformdirs==4.3.6
pluggy==1.5.0
PyICU==2.14
pyproject_hooks==1.2.0
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
responses==0.25.6
rpds-py==0.22.3
scramp==1.4.5
six==1.17.0
testing.common.database==2.0.3
testing.postgresql==1.3.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
