anytree==2.13.0
attrs==26.1.0
build==1.2.2
certifi==2026.5.20
charset-normalizer==3.4.7
coverage==7.14.1
FlexiConc==0.1.12
idna==3.18
iniconfig==2.3.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
narwhals==2.22.1
networkx==3.6.1
numpy==2.4.6
packaging==26.2
pandas==2.3.3
platformdirs==4.10.0
pluggy==1.6.0
Pygments==2.20.0
pyproject_hooks==1.2.0
pytest==9.1.0
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
responses==0.26.1
rpds-py==2026.5.1
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2026.2
urllib3==2.7.0
